<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MySweetHomei</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.project.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerSell</display-name>
    <servlet-name>SellerSell</servlet-name>
    <servlet-class>com.project.seller.addvertise.SellerSell</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerSell</servlet-name>
    <url-pattern>/SellerSell</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerPg</display-name>
    <servlet-name>SellerPg</servlet-name>
    <servlet-class>com.project.seller.addvertise.SellerPg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerPg</servlet-name>
    <url-pattern>/SellerPg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerRent</display-name>
    <servlet-name>SellerRent</servlet-name>
    <servlet-class>com.project.seller.addvertise.SellerRent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerRent</servlet-name>
    <url-pattern>/SellerRent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerBuy</display-name>
    <servlet-name>BuyerBuy</servlet-name>
    <servlet-class>com.project.buyer.buy.BuyerBuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerBuy</servlet-name>
    <url-pattern>/BuyerBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPhoto</display-name>
    <servlet-name>DisplayPhoto</servlet-name>
    <servlet-class>com.displayphoto.DisplayPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhoto</servlet-name>
    <url-pattern>/DisplayPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerPg</display-name>
    <servlet-name>BuyerPg</servlet-name>
    <servlet-class>com.project.buyer.buy.BuyerPg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerPg</servlet-name>
    <url-pattern>/BuyerPg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerRent</display-name>
    <servlet-name>BuyerRent</servlet-name>
    <servlet-class>com.project.buyer.buy.BuyerRent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerRent</servlet-name>
    <url-pattern>/BuyerRent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServlet2</display-name>
    <servlet-name>DisplayServlet2</servlet-name>
    <servlet-class>com.displayphoto.DisplayServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet2</servlet-name>
    <url-pattern>/DisplayServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPhoto3</display-name>
    <servlet-name>DisplayPhoto3</servlet-name>
    <servlet-class>com.displayphoto.DisplayPhoto3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhoto3</servlet-name>
    <url-pattern>/DisplayPhoto3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerInfo</display-name>
    <servlet-name>SellerInfo</servlet-name>
    <servlet-class>com.project.seller.status.SellerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerInfo</servlet-name>
    <url-pattern>/SellerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookbuy</display-name>
    <servlet-name>bookbuy</servlet-name>
    <servlet-class>com.finalshow.bookbuy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookbuy</servlet-name>
    <url-pattern>/bookbuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookrent</display-name>
    <servlet-name>bookrent</servlet-name>
    <servlet-class>com.finalshow.bookrent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookrent</servlet-name>
    <url-pattern>/bookrent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookpg</display-name>
    <servlet-name>bookpg</servlet-name>
    <servlet-class>com.finalshow.bookpg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookpg</servlet-name>
    <url-pattern>/bookpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerBooking</display-name>
    <servlet-name>BuyerBooking</servlet-name>
    <servlet-class>com.project.buyer.buy.BuyerBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerBooking</servlet-name>
    <url-pattern>/BuyerBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerHistory</display-name>
    <servlet-name>BuyerHistory</servlet-name>
    <servlet-class>com.project.buyer.buy.BuyerHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerHistory</servlet-name>
    <url-pattern>/BuyerHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.project.admin.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>com.project.admin.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerRentStatus</display-name>
    <servlet-name>SellerRentStatus</servlet-name>
    <servlet-class>com.project.seller.status.SellerRentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerRentStatus</servlet-name>
    <url-pattern>/SellerRentStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerPgStatus</display-name>
    <servlet-name>SellerPgStatus</servlet-name>
    <servlet-class>com.project.seller.status.SellerPgStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerPgStatus</servlet-name>
    <url-pattern>/SellerPgStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBuyer</display-name>
    <servlet-name>DeleteBuyer</servlet-name>
    <servlet-class>deleteentries.DeleteBuyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBuyer</servlet-name>
    <url-pattern>/DeleteBuyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSeller</display-name>
    <servlet-name>DeleteSeller</servlet-name>
    <servlet-class>deleteentries.DeleteSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSeller</servlet-name>
    <url-pattern>/DeleteSeller</url-pattern>
  </servlet-mapping>
</web-app>